<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Satellite File Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>
    <div class="container">
        <h1>SpaceDrive 🛰️</h1>
        <p>Welcome to the SpaceDrive portal. This service allows you to securely upload files to our satellite
            systems orbiting Earth.</p>
        <p>Using this portal, you can securely transmit files to our satellites from anywhere on Earth. 🌏</p>


        <p class="note">Note: Submitted files will be scanned to detect malicious patterns. Our team has developed a
            specific tool to scan zip files.</p>

        <form action="/upload" method="post" enctype="multipart/form-data">
            <label class="custom-file-upload">
                <input type="file" name="file">
                Choose a file
            </label>

            <input type="submit" value="Upload">
        </form>

        <div class="message" id="message">
            🚀🚀🚀
        </div>
</body>

</html>